<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.macbitsgoa.prdrive">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application

        android:name=".PrDrive"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true">

        <activity android:name=".activities.HomeActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"></category>

            </intent-filter>
        </activity>

        <activity android:name=".activities.MerchActivity"
            android:label="Merch Activity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>

        </activity>

        <activity android:name=".activities.CheckoutActivity"
            android:label="Checkout Activity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".activities.ScanActivity"
            android:label="Scan Activity">
        </activity>

        <activity android:name=".activities.SignActivity"
            android:label="Sign Activity"
            android:screenOrientation="landscape">
        </activity>

        <activity android:name=".activities.PopActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.PopAct">
        </activity>

        <activity android:name=".activities.LoginActivity">
        </activity>
        
        <activity android:name=".activities.ResidentActivity">
        </activity>
        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="barcode" />
    </application>

</manifest>